/* Start General */
:root {
  --white: #fff;
}
body {
  background-color: rgb(27, 28, 30);
}

/* End General */

/* Start Header */
header {
  position: relative;
}
header nav {
  background-color: rgb(16, 16, 17) !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 999 !important;
}

.my-nav {
  margin-left: auto !important;
}
header .nav-link,
header .navbar-brand {
  color: #fff !important;
}
header .carousel {
  position: absolute !important;
  top: 50% !important;
}
/* End Header */

/* Start Home */
.home {
  position: relative;
  background-image: url(../images/Home/home.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
}
.carousel-item h2 {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.carousel-item h3 {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-top: 3rem;
}
.carousel-item.active h2 {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.carousel-item.active h3 {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* End Home */

/* Start About */
.about-me {
  margin-top: 3rem;
  text-align: center;
  color: #fff;
  margin-top: 6rem;
}
.about-title {
  margin-bottom: 2rem;
  color: #03a9f4;
}
.about-content {
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 6rem;
  padding: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.about-content-desc {
  margin-top: 7rem;
  line-height: 1.9;
}
/* End About */

/* Start Skills */
.skills {
  margin-top: 5rem;
  padding-top: 3rem;
  color: #03a9f4;
}
.skills .skills-desc {
  color: #aaaa;
}
.skills .item {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  text-align: center;
  position: relative;
}
.skills .item .skill-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border: 4px dashed #03a9f4;
  border-radius: 50%;
  background-color:#000;
  margin: auto;
  text-align: center;
  animation:  rotateSkills 2s infinite;
  -webkit-animation:  rotateSkills 2s infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.skills .item .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  margin: auto;
  text-align: center;
}
@keyframes rotateSkills {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.skills .imageWidth {
  width: 70%;
}
/* End Skills */

/* Start Services */
.services .services-desc {
  color: #aaa;
}
.services .item {
  background-color: rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 5px #03a9f4;
  height: 220px;
}
.color {
  color: red !important;
}
.item-content-desc {
  color: #aaa;
}
/* End Services */

/* Start Projects */
.projects .projects-desc {
  color: #aaa;
}
.projects-title {
  color: #03a9f4;
}
.projects .item {
  background-color: rgba(0, 0, 0, 0.33);
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.projects button {
  background-color: #03a9f4;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.projects .eye {
  margin-right: 5px;
}
/* End Projects */

/* Start Contact me */
.contact-me p {
  color: #aaa;
}
.contact-me .input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.063);
  color: rgb(170, 170, 170);
  padding: 10px 15px;
  outline: none;
  border: none;
}
.btnMessage {
  background-color: rgba(255, 255, 255, 0.063);
  color:#fff;
  padding: 10px 15px;
  outline: none;
  border: none;
}
/* End Contact me */

/*Start Footer*/
footer{
  background-color: #000;
}
footer span{
  color: "#03a9f4";
}
footer span .text{
  color: "#03a9f4";
}
/*End Footer*/
